<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="config" default="true"/>

  <!-- Start Gazebo simulation-->
  <!--<include file="$(find baxter_gazebo)/launch/baxter_world.launch"></include> -->

  <!--Node for trajectories, used with MoveIt -->
  <!--<node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" respawn="true" output="screen">
  </node> -->

  <!-- Taken from the demo_baxter.launch in the baxter_moveit_config-->
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <arg name="kinect" default="false" />
  <arg name="xtion" default="false" />
  <arg name="camera_link_pose" default="0.15 0.075 0.5 0.0 0.7854 0.0"/>
  
  <!--move-it stuff-->
  <!--
  <include file="$(find baxter_moveit_config)/launch/move_group.launch">
    <arg name="kinect" value="$(arg kinect)" />
    <arg name="xtion" value="$(arg xtion)" />
    <arg name="camera_link_pose" default="$(arg camera_link_pose)"/>
    <arg name="allow_trajectory_execution" value="true"/>
  </include> -->

  <!--Start the move_arm_node-->
  <node pkg="baxter_builder" type="baxter_mover_right_arm.py" name="move_arm_node" respawn="true" output ="screen">
  </node>

  <!--Node that uses camera to find block -->
  <node pkg="baxter_builder" type="right_vision_obj_location.py" respawn="true" name="camera_node" output="screen">
  </node>
</launch>
